# meta
__pycache__
.vscode

# thesis
thesis/*.pdf

# venv
/venv

# git repo path
/repos

# model ckpts
*.pt[h]
*.ckpt
/models/*
!/models/README.txt

# generated images
/outputs
/embeddings/*
!/embeddings/README.txt
